# example configuration for nagios connection used by nagios_monitor
#
# save this as nagios.yaml and modify the entries for your needs.
# environments without nsca_host or nsca_port are not available for monitoring

development:
  host: localhost
  port: 5667
  # password: TopSecret
  hostname: app.host.name
  service_name : my_app

test:
  host: localhost
  port: 5667

staging:


production:
  host: your.nagios.host
  port: 5667
